<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <h2 ng-bind="item.title"></h2>
                <div class="row">
                    <div class="col-xs-8 col-md-10">
                        <a href="#" class="thumbnail">
                            <img ng-src="assets/images/{{productImage}}" alt="{{item.title}}" ng-mouseover="rotateImage()" ng-mouseleave="cancelRotator()">
                        </a>
                    </div>
                    <p ng-bind="item.description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad deserunt distinctio dolores doloribus, fugiat in laudantium libero mollitia, non odit rem. Dolore hic id necessitatibus possimus reiciendis, rem repellendus. </p>
                </div>
                <p><a class="btn btn-primary" href="#" role="button"><i class="glyphicon glyphicon-plus"></i> Add to cart</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Related Products</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Product Title</h4>
            <div class="row">
                <div class="col-xs-4 col-md-6">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/180x180" alt="">
                    </a>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h4>Product Title</h4>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/180x180" alt="">
                    </a>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h4>Product Title</h4>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/180x180" alt="">
                    </a>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>

    <hr>
</div>