<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Swagwise <small>Get your swagger on!</small></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Featured Products</h3>
        </div>
    </div>

    <mini-cart></mini-cart>

    <div class="row">
        <product-group swag="featuredProducts"></product-group>
    </div>
</div>