<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="center-form panel">
            <form method="post" name="signupForm">
                <div class="panel-body">
                    <h2 class="text-center">Sign up</h2>

                    <div class="form-group">
                        <input class="form-control input-lg" type="email" id="email"
                               name="email" placeholder="Email" required autofocus>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="password" name="password"
                               placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-lg" type="password"
                               name="confirmPassword" placeholder="Confirm Password"
                               required>
                    </div>

                    <button type="submit" class="btn btn-lg btn-block btn-primary">Create Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>