<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Swag <small>A whole lot of awesome!</small></h1>
            </div>
        </div>
    </div>
</div>

<mini-cart></mini-cart>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input type="text" class="form-control" ng-model="swagSearch" placeholder="Search for Product">
            </div>
        </div>
    </div>

   <div class="row">
       <div class="col-md-12"></div>
           <p ng-show="swagSearch.length">Display results for: <strong ng-bind="swagSearch"></strong></p>
       </div>
   <div class="row">

        <product-group swag="swag"></product-group>

    </div>

</div>